<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>Favquotes - Add your quotes</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <style type="text/css"> 
        #mydiv {
            position:absolute;
            top: 40%;
            left: 38%;
            width:50em;
            height:28em;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            border: 3px solid rgb(5, 5, 5);
            background-color: rgb(241, 235, 235);
            border-radius: 1.4rem;
            padding: 4rem 2rem;
        }
        
        </style>
</head>

<body style="background-color: #dc0f46;">
    <div style="color:#fff;">
        <h1
            style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 5rem; text-align: center;">
            FAVQUOTES </h1>
    </div>
    <div id="mydiv">
        <form action="/process" method="post">
            <div class="form-group">
                <label for="author">QUOTE AUTHOR</label>
                <input type="text" id="inputname" name="author" class="form-control" placeholder="Add quote author here" required>
            </div>
            <div class="form-group">
                <label for="quote" >QUOTE</label>
                <textarea class="form-control" rows="5" name="quote" id="quote" placeholder="Add your quote here..."  required></textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit your Quote</button>
        </form>
</div>
</body>

</html>